# Ignore Python cache files
__pycache__
*.py[cod]

# Ignore virtual environments
.venv

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore logs
*.log

# Ignore local environment files
.env

# Ignore Docker-related files
docker-compose.override.yml
*.tar
*.bak
*.swp
